{{ ansible_managed | comment }}

- type: log
  enabled: true
  fields_under_root: true
  paths:
    - /var/log/haproxy.log
  fields:
    infra:
      attack_scenario: {{ redelk_attack_scenario }}
      log:
        type: redirtraffic
    redir:
      program: haproxy

- type: log
  enabled: true
  fields_under_root: true
  paths:
    - /var/log/apache2/access-redelk.log
  fields:
    infra:
      attack_scenario: {{ redelk_attack_scenario }}
      log:
        type: redirtraffic
    redir:
      program: apache

- type: log
  enabled: true
  fields_under_root: true
  paths:
    - /var/log/nginx/access-redelk.log
  fields:
    infra:
      attack_scenario: {{ redelk_attack_scenario }}
      log:
        type: redirtraffic
    redir:
      program: nginx
