#!/bin/sh
#
# Part of RedELK
# Copy downloaded files from the Cobalt Strike teamserver to the RedELK sync user.
#

LOGFILE="{{ redelk_log_dir }}/copydownloads.log"

mkdir -p "{{ redelk_sync_user_home }}/cobaltstrike/downloads" >> "$LOGFILE" 2>&1

echo "$(date) # Start CS downloads copy" >> "$LOGFILE" 2>&1

for fileid in $(ls /root/cobaltstrike/server/downloads/ | grep -v '\.'); do
  orifilename=$(grep -rn "$fileid" /root/cobaltstrike/server/logs/*/downloads.log | awk 'BEGIN {FS="\t"}; {print $6}')
  if [ -z "$orifilename" ]; then
    orifilename="filenameunknown"
  fi
  if [ ! -f "{{ redelk_sync_user_home }}/cobaltstrike/downloads/${fileid}_${orifilename}" ]; then
    cp "/root/cobaltstrike/server/downloads/${fileid}" "{{ redelk_sync_user_home }}/cobaltstrike/downloads/${fileid}_${orifilename}"
    chown {{ redelk_sync_user }}:{{ redelk_sync_user }} "{{ redelk_sync_user_home }}/cobaltstrike/downloads/${fileid}_${orifilename}"
  fi
done

echo "$(date) # Done CS" >> "$LOGFILE" 2>&1
