#!/bin/sh
#
# Part of RedELK
# Script to start the exporting of data of Cobalt Strike data.
#

LOGFILE="{{ redelk_log_dir }}/exportcobaltstrikesdata.log"
CSDIR="/root/cobaltstrike/server"

echo "$(date) ######## Start CS data export" >> "$LOGFILE" 2>&1

if [ -f "$CSDIR/data/export_listeners.tsv" ]; then
  cp "$CSDIR/data/export_listeners.tsv" "$CSDIR/data/export_listeners.old.tsv"
fi

cd "$CSDIR/data" && python3 {{ redelk_bin_dir }}/exportcsdata.py --credentials "$CSDIR/data/credentials.bin" --listeners "$CSDIR/data/listeners.bin" >> "$LOGFILE" 2>&1

if [ -f "$CSDIR/data/export_listeners.old.tsv" ]; then
  diff "$CSDIR/data/export_listeners.old.tsv" "$CSDIR/data/export_listeners.tsv" --changed-group-format='%>' --unchanged-group-format='' >> "$CSDIR/data/export_listeners.log"
else
  cat "$CSDIR/data/export_listeners.tsv" >> "$CSDIR/data/export_listeners.log"
fi

echo "$(date) ######## Done with CS data export" >> "$LOGFILE" 2>&1
