# passwords used by RedELK installation - NOT A CONFIG FILE! - passwords are defined in .env file
CredHtaccessUsername = "{{ redelk_redelk_username }}"
CredHtaccessPassword = "{{ redelk_server_redelk_password }}"
CredESUsername = "elastic"
CredESPassword = "{{ redelk_server_elastic_password }}"
CredNeo4jUsername = "neo4j"
CredNeo4jPassword = "{{ redelk_server_neo4j_password }}"
CredBloodhoundAdminEmail = "{{ redelk_server_bloodhound_admin_email }}"
CredBloodhoundUsername = "admin"
CredBloodhoundPassword = "{{ redelk_server_bloodhound_password }}"
CredPostgresUsername = "bloodhound"
CredPostgresPassword = "{{ redelk_server_postgres_password }}"
